<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
  <form method="POST" action="/piglatinize">
    <h2>Enter your phrase: <input type="text" name="user_phrase"></h2>
    <input type="submit" name="Submit">
    </form>
  </body>
</html>